<?xml version='1.0' encoding='utf-8'?>
<widget id="com.radiusnetworks.cordova.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Beacon</name>
    <description>
        A sample Apache Cordova application that works with Radius Networks ProximityKit.
    </description>
    <author email="michael@radiusnetworks.com">
        Radius Networks PhoneGap developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="BackupWebStorage" value="none"/>
    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png"   density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png"   density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png"   density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png"  density="xhdpi" />
        <icon src="res/icon/android/icon-144-xhdpi.png" density="xxhdpi" />
    </platform>
    <platform name="ios">
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60-2x.png" width="120" height="120" />
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76-2x.png" width="152" height="152" />
    </platform>
</widget>
